@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    text-decoration: none;
    transition: .3s;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'nato sans', 'roboto';
}

section {
    min-height: 100vh !important;
    overflow-x: hidden;
}



/* Products styling */
#products .card .overlay {
    visibility: hidden;
    transition: .3s;
}

#products .card:hover .overlay {
    visibility: visible !important;
}